<!DOCTYPE html>
<html>
    <head>
       <!-- Tell the browser to be responsive to screen width -->
      <title>Fetch Partners</title>
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
      <h1 class="title">Fetch Partners</h1>
      <form id='fetch-partners' > 
        <input class='search' type='text' id='latitude' placeholder="Latitude">
        <input class='search' type='text' id='longitude' placeholder="Longitude">
        <input class='search' type='text' id='range' placeholder="Range">
        <button>Fetch</button>
      </form>
        
      <div>
        <table id="partner-details">
            <thead>
                <tr>
                    <th >Organization</th>
                    <th >Customer Locations</th>
                    <th >Website</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
      <script src="/js/findPartners.js"></script>
    </body>
</html>